.all-buttons{
    display: flex;
    flex-direction: row;
}

.GitHub-button:hover,
.youtube-web:hover{
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
    


@keyframes grow {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.1); margin-right: 6px; margin-left: 10px;}
    100% {transform: scale(1);}
}


.Link-to-github,
.Link-to-youtube-web{
    display: flex;
    margin-top: 1rem;
}

.Link-to-youtube-web{
    margin-top: 0;
    margin-left: 5px;
}

.GitHub-button,
.youtube-web{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(45,45,45);
    border-radius: 20px;
    text-decoration: underline rgb(45, 45, 45);
    color: white;
}

.GitHub-button:hover,
.youtube-web:hover{
    border-style:inset;
}

.GitHub-button:active,
.youtube-web:active{
    border-style:none;
    background-color: rgb(83, 83, 83);
    text-decoration: underline rgb(83, 83, 83);
}

.GitHubLogo,
.YoutubeLogo{
    height: 20px;
    padding-right: 10px;
}