.Link-to-github{
    display: flex;
    margin-top: 1rem;
}

.GitHub-button{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(45,45,45);
    border-radius: 20px;
    text-decoration: underline rgb(45, 45, 45);
    color: white;
}

.GitHub-button:hover{
    border-style:inset;
}

.GitHub-button:active{
    border-style:none;
    background-color: rgb(83, 83, 83);
    text-decoration: underline rgb(83, 83, 83);
}

.GitHubLogo{
    height: 20px;
    padding-right: 10px;
}