.project {
    margin-bottom: 1.5rem;
}


.project h3 {
font-size: 1.2rem;
margin-bottom: 0.5rem;
color: #fff;
}

.all-info{
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 25px 90px rgba(255, 255, 255, .5);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    animation: info-appear 0.5s linear forwards;
    opacity: 0;
    transform: translateY(30px);
}

@keyframes info-appear{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

